@import "../../styles/responsive";
@import "../../styles/colors";

.HeaderMenu {
  $gray: rgba(51, 51, 51, .82);
  background: linear-gradient(180deg, $gray 0%, $transparent 100%);
  color: $white;
  display: flex;
  height: 150px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;

  @include from-medium {
    padding-left: 25px;
    padding-right: 25px;
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $desktop-content-min-width;
    height: 40px;
    width: 100%;
    margin-top: 32px;
  }

  &__title {
    font-size: 32px;
  }

  &__list {
    align-items: center;
    display: flex;

    @include small {
      display: none;
    }
  }

  &__list-item {
    display: inline-block;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $white;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.2px;
  }
}
